* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
}

/* container */
.container {
  max-width: 100%;
  position: relative;
}
/* banner-header */
#banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner img {
  max-width: 100%;
  position: relative;
}
.banner-info {
  position: absolute;
  /* top: 207px;
  left: 540px; */
  color: #fff;
}
.banner-info span {
  margin-left: 53px;
  color: #d1cecef3;
}
/* ----/////////////////////////////////////////////------------ */
/* navbar - menu dieu huong*/
#nav-bar {
  position: relative;
  text-align: center;
}
.itsme img {
  position: absolute;
  margin-left: -70px;
  top: -32px;
  border: solid 10px #fff;
}
.sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.nav-info {
  border-left: solid 2px rgba(51, 51, 51, 0.27);
  border-right: solid 2px rgba(51, 51, 51, 0.27);
}
.thongtin {
  padding-top: 16px;
  color: #000;
}
.lylich {
  padding-top: 16px;
  color: #000;
}
.chungchi {
  padding-top: 16px;
  color: #000;
}
/* dự án */
.nav-project {
  border-left: solid 2px rgba(51, 51, 51, 0.27);
  border-right: solid 2px rgba(51, 51, 51, 0.27);
}

.project {
  padding-top: 16px;
  color: #000;
}
a {
  text-decoration: none;
}
/* ----------------MỤC TIÊU NGHÊ NGHIỆP - THÔNG TIN CÁ NHÂN---------------------------- */
.container-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.person-info {
  list-style: none;
  margin-left: 52px;
}
.target {
  background-color: #f7f7f7;
  padding: 0px 50px;
  line-height: 2;
  font-size: 15px;
}
.target p {
  margin-left: 52px;
}
.personal-info {
  background-color: #f5f3f3;
  padding: 0px 50px;
  line-height: 2;
  font-size: 15px;
}
.icon {
  margin-left: 50px;
}
.section-title-info {
  font-size: 35px;
  margin: 50px 50px;
}
.person-info {
  padding: 0;
}
/* --------------THông tin nghề nghiệp--------------- */

#job-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 35px;
  margin-top: 30px;
  row-gap: 20px;
  margin: 40px 50px;
}
.job-info-chung {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
}
.time {
  font-size: 13px;
  font-style: italic;
  padding: 0 20px;
}

/* Kinh nghiệm */
.info-ex {
  border: solid 1px #dad9d9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  grid-template-rows: repeat(3, 1fr);
}

.info-ex h1 {
  grid-column: 1/3;
  font-size: 35px;
  align-self: center;
  justify-self: center;
}
.info-ex i {
  align-self: center;
}
.title-ex {
  font-weight: bold;
}
.info-ex ul {
  grid-column: 1/-1;
}
.menu-ex1 {
  font-size: 15px;
  margin: 0 45px;
  line-height: 1.5;
}
.menu-ex1 li,
.menu-ex2 li {
  list-style: inside;
}
.menu-ex2 {
  font-size: 15px;
  margin: 0 45px;
  line-height: 1.5;
}
/* ----------- Kỹ Năng --------------*/
.info-skill {
  border: solid 1px #dad9d9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  grid-template-rows: 0.5fr 1fr;
}

.info-skill h1 {
  grid-column: 1/3;
  font-size: 35px;
  align-self: center;
}
.info-skill i {
  align-self: center;
}
.skill {
  align-self: start;
  grid-column: 1/-1;
  margin-left: 30px;
  line-height: 1.5;
}
/* dùng chung cho ngôn ngữ */
.leared {
  background: #199cdb;
  width: 20px;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 56px;
}
.no-learn {
  background: #d3d1d1;
  width: 20px;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 56px;
}
/*-------------- Ngôn ngữ----------------- */
.info-language {
  border: solid 1px #dad9d9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  grid-template-rows: 0.5fr 1fr;
}

.info-language h1 {
  grid-column: 1/3;
  font-size: 35px;
  align-self: center;
  justify-self: center;
}
.info-language i {
  align-self: center;
  justify-self: center;
  color: #199cdb;
}
.laguage {
  margin-left: 30px;
  grid-column: 1/-1;
}
/* hoạt động */
.info-act {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: solid 1px #dad9d9;
}

.info-act h1 {
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}
.info-act i {
  align-self: center;
}
.title-act {
  font-weight: bold;
}
.info-act ul {
  grid-column: 1/-1;
}
.menu-act1 {
  font-size: 15px;
  margin: 0 45px;
}
.menu-act1 li {
  list-style: inside;
}
.menu-act2 {
  font-size: 15px;
  margin: 0 45px;
  line-height: 1.5;
  grid-row: 3/4;
}
.menu-act2 li {
  list-style: inside;
}
.menu-act1,
.menu-act2,
.menu-ex1,
.menu-ex2,
.menu-learn1,
.menu-learn2 {
  padding: 0;
}
/* -----------học vấn----------------- */
.info-learn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: solid 1px #dad9d9;
}

.info-learn h1 {
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}
.info-learn i {
  align-self: center;
}
.learn-title {
  font-weight: bold;
}
.info-learn ul {
  grid-column: 1/-1;
}
.menu-learn1 {
  font-size: 15px;
  margin: 0 45px;
  line-height: 1.5;
}
.menu-learn1 li {
  list-style: inside;
}
.menu-learn2 {
  font-size: 15px;
  margin: 0 45px;
  grid-row: 3/4;
}
.menu-learn2 li {
  list-style: inside;
}
.time-learn {
  text-decoration: inherit;
}
/* *------------sở thích ------------ */
.info-hobby {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1fr;
  border: solid 1px #dad9d9;
}
.info-hobby h1 {
  grid-column: 1/3;

  font-size: 35px;
  align-self: center;
  justify-self: center;
}
.info-hobby i {
  align-self: center;
  justify-self: center;
  color: #199cdb;
}
.hobby {
  grid-column: 1/-1;
  display: flex;
  column-gap: 30px;
  margin-left: 30px;
  align-self: center;
  align-self: center;
  flex-wrap: wrap;
}
.music-hobby {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: solid 1px #199cdb;
  border-radius: 50%;
}
.music-hobby i {
  margin-top: 15px;
  margin-left: 10px;
  color: #199cdb;
}
.game-hobby {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: solid 1px #199cdb;
  border-radius: 50%;
}
.game-hobby i {
  margin-top: 15px;
  margin-left: 17px;
  color: #199cdb;
}
.trip-hobby {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: solid 1px #199cdb;
  border-radius: 50%;
}
.trip-hobby i {
  margin-top: 15px;
  margin-left: 17px;
  color: #199cdb;
}
.cook-hobby {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: solid 1px #199cdb;
  border-radius: 50%;
}
.cook-hobby i {
  color: #199cdb;
  margin-top: 15px;
  margin-left: 12px;
}

.hobby1 {
  font-size: 12px;
  margin: 4px 4px;
}

.hobby2 {
  font-size: 12px;
  margin: 4px 0px;
}

.hobby3 {
  font-size: 12px;
  margin: 4px 9px;
}

.hobby4 {
  font-size: 12px;
  margin: 4px 9px;
}
/* -------------------------- CHỨNG CHỈ - GIẢI THƯỞNG ---------------*/
.container-award {
  background-color: #f5f3f3;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  /* grid-template-rows: 200px 200px 1fr; */
}
.award-1 div h3,
.award-2 div h3,
.award-3 div h3 {
  font-size: 20px;
}
.award-1 div ul,
.award-2 div ul,
.award-3 div ul {
  padding: 0 20px;
}
.award-1 img,
.award-2 img,
.award-3 img {
  max-width: 100%;
}
.section-title {
  /* margin-top: 70px; */
  font-size: 35px;
  margin: 50px 50px;
}
.award {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 20px 50px;
}
.award-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-right: solid 1px rgb(173 90 90 / 50%);
  border-bottom: solid 1px rgb(173 90 90 / 50%);
}
.award-1 div {
  grid-column: 2/-1;
}
.award-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: solid 1px rgb(173 90 90 / 50%);
}
.award-2 div {
  grid-column: 2/-1;
}
.award-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0;
}
.award-3 div {
  grid-column: 2/-1;
}
/* ---------dự án ------------ */
/* ----------------------------- */
.project-funix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.duAn h3 {
  font-size: 35px;
  margin: 50px;
}
.project-1,
.project-2,
.project-3 {
  border: solid 1px #f1eded;
}
/* project1 */
.project-1 img {
  max-width: 100%;
  height: auto;
}
.title-project {
  border: solid 1px #f1eded;
  grid-column: 1/-1;
}
.title-project h3 {
  margin-top: 15px;
}
.time-project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid 1px #f1eded;
  padding: 1rem 0;
}
.time-project p,
.time-project2 p,
.time-project3 p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}
.title-project h3,
.title-project2 h3,
.title-project3 h3 {
  font-size: 16px;
  font-weight: bold;
}
.year {
  justify-self: center;
  border: solid 1px;
  border-radius: 20px;
  width: 52px;
  background: #199cdb;
}
.year p {
  margin-left: 9px;
  margin-top: -1px;
  color: #fff;
}
.mota-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-top: solid 1px #f1eded;
  justify-content: center;
  padding: 10px 0;
}
.mota-project p {
  font-size: 13px;
  align-self: center;
  justify-self: center;
}
.mota-project p:nth-child(2),
.mota-project p:nth-child(4),
.mota-project p:nth-child(6) {
  grid-column: 2/-1;
}
/*-------------- project 2------- */
.project-2 img {
  max-width: 100%;
  height: auto;
}
.title-project2 {
  border: solid 1px #f1eded;
  grid-column: 1/-1;
}
.title-project2 h3 {
  margin-top: 15px;
}
.time-project2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid 1px #f1eded;
  padding: 1rem 0;
}

.mota-project2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-top: solid 1px #f1eded;
  justify-content: center;
  padding: 10px 0;
}
.mota-project2 p:nth-child(2),
.mota-project2 p:nth-child(4),
.mota-project2 p:nth-child(6) {
  grid-column: 2/-1;
}
.mota-project2 p {
  font-size: 13px;
  align-self: center;
  justify-self: center;
}
/* ---------project3------------- */
.project-3 img {
  max-width: 100%;
  height: auto;
}
.title-project3 {
  border: solid 1px #f1eded;
  grid-column: 1/-1;
}
.title-project3 h3 {
  margin-top: 15px;
}
.time-project3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid 1px #f1eded;
  padding: 1rem 0;
}

.mota-project3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-top: solid 1px #f1eded;
  justify-content: center;
  padding: 10px 0;
}
.mota-project3 p {
  font-size: 13px;
  align-self: center;
  justify-self: center;
}
.mota-project3 p:nth-child(2),
.mota-project3 p:nth-child(4),
.mota-project3 p:nth-child(6) {
  grid-column: 2/-1;
}

/* ---------footer------------- */
.footer {
  background-color: #f5f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
}
.footer p {
  margin: 0;
  padding: 20px 30px;
}
/* --------- */
.hidden {
  display: none !important;
}
.info-item {
  position: relative;
}
.view-more {
  background-color: yellowgreen;
  border-radius: 20px;
  width: 65%;
  position: absolute;
  top: 47px;
  left: 50px;
  display: none;
}
.view-less {
  background-color: rgb(72, 80, 59);
  border-radius: 20px;
  width: 30%;
  margin-left: 80px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 50px;
  display: none;
}
.info-item:hover .view-more {
  display: block;
}
.info-item:hover .view-less {
  display: block;
}
.more4,
.more5,
.more6 {
  top: 10px;
}
/* ------------------*****************DIGITAL - CV***********----------------------------- */
.grid-cv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container-bg {
  background-color: blue;
}
.container-cv {
  background-color: blue;
}
.bg-white {
  background-color: #fff;
}
/*------------------ goals----------- */
.goals {
  grid-column: 1/3;
  margin: 10px;
}
.title {
  margin: 5px 10px;
  border-bottom: solid 1px #000;
}
.title h1 {
  font-size: 25px;
  font-weight: bold;
  color: blue;
}
/* 1 */
.goal1 {
  display: flex;
}
.goal1 i {
  padding: 30px 35px;
}
.goal1 p {
  margin: 0;
}
.goal1 div p:nth-child(1) {
  padding-top: 20px;
  font-weight: bold;
}
/* ------Team------ */
.teams {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* member-1 */
.member {
  display: flex;
}
.member i {
  padding: 5px 20px;
}
.member div :nth-child(1) {
  font-weight: bold;
}
/* ------Timeline */
.timeline {
  grid-row: 1/-1;
  grid-column: 4/5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.timelineChung {
  display: flex;
  align-items: center;
}
.project-timeline p {
  margin: 0;
}
.project-timeline p:nth-child(1) {
  font-weight: bold;
  flex-wrap: wrap;
}
.number-timeline {
  border: solid 1px #000;
  border-radius: 50%;
  margin: 20px;
  background-color: gainsboro;
}
.number-timeline p {
  margin: 10px 0;
  padding: 0 15px;
}
.project-timeline {
  border-bottom: dashed 1px;
}
/* ------scopes------- */
.scopes {
  grid-column: 1/3;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}
.scopeInOut {
  display: flex;
}
.scopeChung {
  margin: 10px 20px;
}
.scopeChung h3 {
  font-size: 20px;
  font-weight: bold;
}
.return-cv {
  position: absolute;
  bottom: 0;
  left: 10px;

  display: none;
}
.return-cv a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
.return-cv:hover {
  background-color: #41a3d1;
}
.return-cv a:hover {
  color: #fff;
}
.scopes:hover .return-cv {
  display: block;
}
.primary:hover .return-cv {
  display: block;
}
/* -----primary----- */
.primary {
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}
.primaryChung {
  display: flex;
}
.primaryChung i {
  padding: 20px;
}
.bodi {
  background-color: blue;
}
